<div class='container-sm pt-5 my-5 w-50'>
 <%= simple_form_for @cocktail, html: { autocomplete: 'off' } do |f| %>
    <%= f.input :name, value: @cocktail.name %>
    <%= f.input :description, as: :text, value: @cocktail.description %>
    <% if @cocktail.photo.attached? %>
      <%= f.input :photo, as: :file, value: @cocktail.photo.key %>
    <% else %>
      <%= f.input :photo, as: :file %>
    <% end %>
    Is it vegan? <%= f.input_field :vegan, as: :boolean, class: 'mr-5' %>
    Is it alcohol free? <%= f.input_field :virgin, as: :boolean %>
    <div class='mt-3'>
      <%= f.submit class: 'btn btn-outline-dark' %>
    </div>
  <% end %>
