
<div class='sidebar'>
  <% if  @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 200, width: 200, crop: :fill, class: 'img' %>
  <% else %>
    <%= image_tag('cocktails.jpg', height: '200', width: '200', class: 'img') %>
  <% end %>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
      <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: 'text-grey' %>
    </li>
    <li class='list-group-item'>
      <%= link_to 'Edit Cocktail', edit_cocktail_path(@cocktail), class: 'text-grey' %>
    </li>
    <li class='list-group-item'>
      <%= link_to 'Delete Cocktail', cocktail_destroy_path(@cocktail), method: :delete, class: 'text-grey' %>
    </li>
    <li class='list-group-item'>
        <%= link_to 'Go Back', cocktails_path, class: 'text-grey' %>       
    </li>
  </ul>
</div>
<div class='page-recipe'>
  <div class='container-recipe'>
    <div class='container-left'> 
      <h3><%= @cocktail.name %></h3>
      <div>
        <% if @cocktail.virgin %>
          <small><span class='badge badge-pill badge-info mx-2'>Virgin</span></small>
        <% end %>
        <% if @cocktail.vegan %>
          <small><span class='badge badge-pill badge-success mx-2'>Vegan</span></small>
        <% end %>
      </div>
      <h5 class='my-2 pb-3 pt-5 mx-3'>Ingredients</h5>
      <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.measurement %> <%= dose.ingredient.name %>
          <%= link_to dose_destroy_path(dose), method: :delete do %>
            <small><i class='fa fa-minus mx-6 text-info'></i></small>
          <% end %>
        </li>
      <% end %>
      </ul>  
    </div>
    <div class='container-right'>
     <% if notice.present? %>
        <%= notice.html_safe %>
      <% end %>
      <h5 class='my-2 pb-3 pt-5'>Description</h5>
      <%= @cocktail.description %>
    </div>
  </div>
</div>

