  <div class='sidebar'>
    <% if  @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 200, width: 200, crop: :fill, class: 'img' %>
    <% else %>
      <%= image_tag('cocktails.jpg', height: '200', width: '200', class: 'img') %>
    <% end %>
    <ul class='list-group list-group-flush'>
      
      <button id="btn-add">
        <li class='list-group-item'>
            Add Ingredient
        </li>
      </button>
      <button id="btn-edit">
        <li class='list-group-item'>
          Edit Cocktail
        </li>
      </button>
      <%= link_to cocktail_destroy_path(@cocktail), method: :delete, class: 'text-grey text-center' do %>
      <li class='list-group-item'>
        Delete Recipe
      </li>
      <% end %>
      <%= link_to cocktails_path, class: 'text-grey text-center' do %>  
      <li class='list-group-item'>
        Go Back
      </li>
      <% end %>
    </ul>
    <div class='card' id='card-add'>
        <div class='card-form'>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <% if @dose.errors.full_messages == ['Cocktail has already been taken'] %>
              <%= 'Ingredient already added to recipe' %>
            <% end %>
            <%= f.association :ingredient, input_html: { class: 'select2', style: "width: 198px;" }, collection: Ingredient.ordered %>
            <%= f.input :measurement, input_html: { class: 'form-field' } %>
            <%= f.submit class: 'btn btn-sm btn-outline-dark mt-3' %><%= link_to 'Go Back', cocktail_path(@cocktail), class: 'btn btn-sm btn-outline-dark mt-3 ml-3' %>
          <% end %>
        </div>
      </div>
  </div>
  <div class='page-recipe'>
    <div class='container-recipe'>
      <div class='container-left'> 
        <h3 id='title'><%= @cocktail.name %></h3>
        <div>
          <% if @cocktail.virgin %>
            <small><span class='badge badge-pill badge-info mx-2'>Virgin</span></small>
          <% end %>
          <% if @cocktail.vegan %>
            <small><span class='badge badge-pill badge-success mx-2'>Vegan</span></small>
          <% end %>
        </div>
        <h5 class='my-2 pb-3 pt-5 mx-3'>Ingredients</h5>
        <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.measurement %> <%= dose.ingredient.name %>
            <%= link_to dose_destroy_path(dose), method: :delete do %>
              <small><i class='fa fa-minus mx-6 text-info'></i></small>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class='container-right'>
      <% if notice.present? %>
        <%= notice.html_safe %>
      <% end %>
      <h5 class='my-2 pb-3 pt-5'>Description</h5>
      <%= @cocktail.description %>
    </div>
  </div>
</div>

<div class="card-container card-edit">
  <div class="card-update card-edit">
    <%= simple_form_for @cocktail, html: { autocomplete: 'off' } do |f| %>
      <%= f.input :name, value: @cocktail.name %>
      <%= f.input :description, as: :text, value: @cocktail.description %>
      <% if @cocktail.photo.attached? %>
        <%= f.input :photo, as: :file, value: @cocktail.photo.key %>
      <% else %>
        <%= f.input :photo, as: :file %>
      <% end %>
      Is it vegan? <%= f.input_field :vegan, as: :boolean, class: 'mr-5' %>
      Is it alcohol free? <%= f.input_field :virgin, as: :boolean %>
      <div class='mt-3'>
        <%= f.submit class: 'btn btn-outline-dark' %>
      </div>
    <% end %>
  </div>
</div>
