<div class='container-big'> 
  <div class='container container-cocktail'>
    <h3><%= @cocktail.name %></h3>
     <% if @cocktail.virgin %>
        <small><span class="badge badge-pill badge-info mx-2">Virgin</span></small>
      <% end %>
      <% if @cocktail.vegan %>
        <small><span class="badge badge-pill badge-success mx-2">Vegan</span></small>
      <% end %>
    <div class="d-flex justify-content-between">
      <div>
        <% if  @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, height: 250, width: 205, crop: :fill, class: 'mt-4 mb-5 rounded' %> 
        <% end %>
      </div>
      <div>
        <% if notice.present? %>
          <%= notice.html_safe %>
        <% end %>
          <div class='container mt-3'>
            <h5 class='my-3 mx-3'>Ingredients</h5>
            <ul>
              <% @cocktail.doses.each do |dose| %>
                <li>
                  <%= dose.measurement %> <%= dose.ingredient.name %>
                  <%= link_to dose_destroy_path(dose), method: :delete do %>
                <small><i class='fa fa-minus mx-6 text-info'></i></small>
                <% end %>
                </li>
              <% end %>
            </ul>
            <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-dark btn-sm mx-3' %>
            <%= link_to 'Delete Cocktail', cocktail_destroy_path(@cocktail), method: :delete, class: 'btn btn-outline-dark btn-sm' %>
          </div>
      </div>
    </div>
  </div>
  <%= link_to 'Go Back', cocktails_path, class: 'btn btn-outline-dark btn-sm mx-3 mb-3' %>
  <p class='btn btn-outline-dark down-page-btn btn-sm'>Edit Cocktail</p>
  <div class='ml-3 mt-1'>
    <%= @cocktail.description %>
  </div>
</div>
<div class='page container-big pt-5'>
  <div class='container'>
    <%= simple_form_for @cocktail, html: { autocomplete: 'off' } do |f| %>
      <%= f.input :name, value: @cocktail.name %>
      <%= f.input :description, as: :text, value: @cocktail.description %>
      <% if @cocktail.photo.attached? %>
        <%= f.input :photo, as: :file, value: @cocktail.photo.key %>
      <% else %>
        <%= f.input :photo, as: :file %>
      <% end %>
      Is it vegan? <%= f.input_field :vegan, as: :boolean, class: 'mr-5' %>
      Is it alcohol free? <%= f.input_field :virgin, as: :boolean %>
      <div class='mt-3'>
        <%= f.submit class: 'btn btn-outline-dark' %>
      </div>
    <% end %>
  </div>
</div>