<div class='card'>
  <div class='card-form'>
  <h5>Add ingredient</h5>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <% if @dose.errors.full_messages == ['Cocktail has already been taken'] %>
       <%= 'Ingredient already added to recipe' %>
    <% end %>
    <%= f.association :ingredient, input_html: { class: 'select2', style: "width: 198px;" }, collection: Ingredient.ordered %>
    <%= f.input :measurement, input_html: { class: 'form-field' } %>
    <%= f.submit class: 'btn btn-sm btn-outline-dark mt-2' %><%= link_to 'Go Back', cocktail_path(@cocktail), class: 'btn btn-sm btn-outline-dark mt-2 ml-3' %>
  <% end %>
</div>
</div>
