<div class='container-sm my-5'>
  <h4>Add ingredient</h4>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.ordered %>
    <%= f.input :measurement %>
    <%= f.submit class: 'btn btn-outline-dark' %><%= link_to 'Go Back', cocktails_path, class: 'btn btn-outline-dark mx-5' %>
  <% end %>
</div>

