<div class='container-sm pt-5 my-5 w-50'>
  <h4>Add ingredient</h4>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <% if @dose.errors.full_messages == ['Cocktail has already been taken'] %>
       <%= 'Ingredient already added to recipe' %>
    <% end %>
    <%= f.association :ingredient, collection: Ingredient.ordered %>
    <%= f.input :measurement %>
    <%= f.submit class: 'btn btn-outline-dark' %><%= link_to 'Go Back', cocktail_path(@cocktail), class: 'btn btn-outline-dark mx-5' %>
  <% end %>
</div>
